html,
body {
    min-height: 100%;
}

.overview {
    width: 20rem;
}

.bg-button {
    background-color: #000000;
    color: #ffffff;
    gap: 0;
    /* padding-left: 1rem; */
}

.nav-link {
    background-color: #343434;
    border: solid 1px #c3c3c3;
}

.nav-link.active {
    background-color: transparent !important;
    color: inherit !important;
    /* box-shadow: inset 1px 3px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #343434 !important;
    /* border: solid 1px #ffffff; */
    outline: none;
    text-shadow: 0px 0px 10px #ffffff;
}

.nav-link:hover {
    border: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffffff;
}

.nav-link:not(:focus):not(:hover) {
    outline: none !important;
    text-decoration: none !important;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    border: solid 1px #ffffff;
}

.nav-link.underline::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s;
}

.nav-link.underline:hover::after {
    width: 100%;
}

.style-navbar {
    background-color: #343434;
    width: 100%;
    border-bottom: solid 3px #808080;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-links li {
    margin-right: 20px;
}

.navbar {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.navbar {
    position: fixed;
}

.navbar.visible {
    display: block;
    opacity: 0.95;
    z-index: 1000;
}

.backdrop-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bg-bg {
    background-color: #000000;
}

.text-col {
    color: #ffffff;
}

.style-card {
    background-color: #121212;
    border: solid 1px #c3c3c3;
    width: 45rem;
    /* width: 21cm; */
    /* width: 793px; */
    height: auto;
    margin-bottom: 2rem;
    z-index: 500;
}

/* Custom scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    width: 9px;
    /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: #000000;
    /* Background of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the track */
    z-index: 999;

}

body::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb when hovered */
}

body {
    overflow-y: auto;
    overflow: auto !important;
    scrollbar-width: auto !important;
    scrollbar-gutter: stable !important;
}

.card-text.intro {
    text-align: center;
}

.outer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 20px;
    /* 設置外部卡片的高度 */
}

.inner-card {
    border-left: none;
    border-right: none;
    /* margin-left: 4.8px;
    margin-right: 4.8px; */
    width: 39.5rem;
    /* width: 95%; */
    /* width: 45vw; */
    justify-content: center;
    align-items: center;
    border-radius: 0%;
}

@media (max-width: 39.5rem) {
    .inner-card {
        width: 30rem;
    }
}

.in-the-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button-st {
    border-top: none !important;
    border-bottom: none !important;
    border-left: solid 1px #c3c3c3 !important;
    border-right: solid 1px #c3c3c3 !important;
    background-color: #343434 !important;
}

.button-row {
    display: flex;
    gap: 0;
}

.button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    /* 統一邊界顏色 */
    padding: 15px 20px;
    cursor: pointer;
    transition: box-shadow 0.1s;
    white-space: nowrap;
    /* 確保文字不會換行 */
}

.nav-item:first-child>.nav-link {
    border-top-left-radius: 10px !important;
    /* 更圓的圓角 */
    border-bottom-left-radius: 10px !important;
    /* 更圓的圓角 */
    /* border-right: none !important;  */
}

.nav-item:last-child>.nav-link {
    border-top-right-radius: 10px !important;
    /* 更圓的圓角 */
    border-bottom-right-radius: 10px !important;
    /* 更圓的圓角 */
    /* border-left: none !important; */
    border-right: solid 1px #c3c3c3 !important;
    border-right: solid 1px #727272 !important;
}

.button:active {
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}

.button.small {
    padding: 15px 10px;
    /* 縮小按鈕大小，使得兩顆小按鈕加起來剛好等於一顆大按鈕 */
}

.nav-link {
    background-color: #343434;
    border: solid 1px #c3c3c3 !important;
    border-radius: 0% !important;
    border-right: solid 1px #000000 !important;
    border-left: solid 1px #c3c3c3 !important;
}

.nav-link.header {
    background-color: transparent;
    border: none !important;
}

.nav-item.header {
    border: none;
}

.nav-link.mid::before {
    position: absolute;
    margin-left: -9.5rem;
    /*絕對定位*/
    content: "";
    /*沒有加這段就不會產生偽元素*/
    width: 2px;
    height: 2.5rem;
    background: transparent;
    border: solid 2px #c3c3c3;
    border: none;
    /* border-image: linear-gradient(to right,black, #c3c3c3) 1 50%; */
    top: 0;
    left: 150px;
    z-index: 100;

}

.nb-lr {
    border-left: solid 1.5px #727272 !important;
    border-top: solid 1.5px #727272 !important;
    border-right: solid 2.5px #000000 !important;
    border-bottom: solid 2.5px #000000 !important;

}